
.form-control {
<<<<<<< HEAD
    color: #f3c5e0!important;
=======
    color: #dc6f68!important;
>>>>>>> b88281d9ecb065ec4a49f950579af2fd347280c5
}

input.form-control {
    color: black;
    background-color: lightblue;
}
<<<<<<< HEAD
form {
    background-color: rgb(243, 227, 242);
}

#section {
    background-image: url("/images/comfy-travel-dresses.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    /*background-color: red;*/
       
    }

#sectiontwo {
    background-color: white;
}

#sectionthree {
    background-image: url("/images/offthepath.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-section {
    background:  #ebcedc;
=======

/* form {
 /* background-color: rgb(240, 235, 238); */
/* }  */ */

section {
    background: url("/images/greece.jpg") center 200%;
}


.main-section {
    background:  #ffccbb;
>>>>>>> b88281d9ecb065ec4a49f950579af2fd347280c5
    padding: 30px;
    margin: 150px 0 0 20%;
    width: 100%;
    max-width: 650px;
    border: 1px solid black;
    border-radius: 10px;
    
}