#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  #mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #F05F40;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }
  
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #f05f40;
  }
  
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529;
  }
  
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F40;
  }
  
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
    color: #F05F40 !important;
    background-color: transparent;
  }
  
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
    background-color: transparent;
  }